h1 {
  font-family: Cinzel;
  font-size: 92px;
  font-weight: 900;
  font-variant: uppercase;
  color: #000000;
  text-align: center;
  line-height: 75%;
  margin: 90px 0 0 0;
  padding: 2px;
}
.subtitle {
  font-family: PT serif;
  font-size: 36px;
  font-weight: 400;
  color: #7d7d7d;
  text-align: center;
  margin: 20px 100px;
}

.container {
  margin: 60px 260px;
}
article {
  max-width: 1100px;
  margin: 2rem auto;
}

body {
  color: #414141;
  font-size: 18px;
}

.lead {
  font-size: 21px;
}

a {
  color: #ca5e10;
}
